#adfb_shade {
    display: none;
    background: url(../images/transback.png) 0 0 repeat;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

div#adfb_spinner {
    background: url(../images/spinner.gif) center center no-repeat;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1001;
}

#adfb_outer {
    width:auto;
    margin: 100px auto;
    background-color: #fff;
    border:1px solid #000;
    padding:15px 0px 15px 0px;
    text-align:center;
    visibility:hidden;
    z-index: 1002;
}

#adfb_controls {
    position: absolute;
    top: 100px;
}

#adfb_previous {
    width: 55px;
    height: 57px;
    position: absolute;
    left: 0;
    background: url(../images/arrows.png) -45px -146px no-repeat;
    cursor:pointer;
}

#adfb_previous:hover {
    width: 100px;
    background: url(../images/arrows.png) 0 -366px no-repeat;
}

#adfb_next {
    width: 55px;
    height: 57px;
    position: absolute;
    right: 0;
    background: url(../images/arrows.png) 0 0 no-repeat;
    cursor:pointer;
}

#adfb_next:hover {
    width: 100px;
    background: url(../images/arrows.png) 0 -220px no-repeat;
}

#adfb_close {
    background: url(../images/close.png) 0 -60px no-repeat;
    width: 40px;
    height: 40px;
    position: absolute;
    cursor:pointer;
}

#adfb_close:hover {
    background: url(../images/close.png) 0 0 no-repeat;
}